---
interface Props {
  to: string;
}

const { to } = Astro.props;
---

<!doctype html>
<html lang="et">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content={`0; url=${to}`} />
    <meta name="robots" content="noindex" />
    <link rel="canonical" href={to} />
    <title>Redirect</title>
  </head>
  <body>
    <a href={to}>Redirect</a>
  </body>
</html>
